
<h1>Testar:</h1>
<ol>
  <li>Mudar o formato/tipo da variavel do login e do cadastro para ver se o erro surge delas</li>
  <li>Mudar o interceptor e ir testando até o erro sumir ou mudar</li>
  <li>Testar este login e cadastro com Observable</li>
  <li>Testar este login e cadastro com User ao invés de any</li>
  <li>Testar este login e cadastro com header(HttpOption)</li>
  <li>Testar este login e cadastro passando um objecto JSON(JSON.stringify(user)</li>
  <!--<li>Testar o login enviando um 'id' espeficado para ver se retorna o usuário correto</li>-->
  <li>...</li>
  <li>Boa sorte, meu guerreiro!!!</li>
</ol>

<div class="container">
  <router-outlet>
    <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
  </router-outlet>
</div>