<!-- <p>register works!</p> -->

<div>
    <form #rgForm="ngForm" (ngSubmit)="register()">
        <label>usuario</label>
        <input type="text" name="OPER_login" [(ngModel)]="registerForm.OPER_login" #OPER_login="ngModel" required>

        <label>operador</label>
        <input type="text" name="OPER_nome_operador" [(ngModel)]="registerForm.OPER_nome_operador" #OPER_nome_operador="ngModel" required>

        <label>senha</label>
        <input type="password" name="OPER_senha" [(ngModel)]="registerForm.OPER_senha" #OPER_senha="ngModel" required>

        <button type="submit">Submit</button>
    </form>
</div>
